{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block main %}
<h1>{% trans "Upcoming events" %}</h1>
<ul>
    {% for event in object_list %}
        <li>
            {% include "event_rsvp/partials/event_item.html" %}
        </li>
    {% endfor %}
</ul>

<h1>{% trans "My events" %}</h1>
<ul>
    {% for guest in my_participations %}
        <li><a href="{% url "rsvp_guest_update" pk=guest.pk event_slug=guest.event.slug %}">{{ guest }}</a></li>
    {% endfor %}
</ul>
{% endblock %}